:root {
    --hue: 230;
    --percent: 15%;
    --colorized1: hsl(var(--hue), var(--percent), 98%);
    --colorized2: hsl(var(--hue), var(--percent), 93%);
    --colorized3: hsl(var(--hue), var(--percent), 89%);
    --colorized4: hsl(var(--hue), var(--percent), 83%);
    --colorized5: hsl(var(--hue), var(--percent), 71%);
    --colorized6: hsl(var(--hue), var(--percent), 40%);
    --colorized7: hsl(var(--hue), var(--percent), 31%);
    --colorized8: hsl(var(--hue), var(--percent), 23%);
    --colorized9: hsl(var(--hue), var(--percent), 15%);

    --color-white: var(--colorized1);
    --color-black: var(--colorized7);

    --body-font: 'Quicksand', sans-serif;

    --success-bg-color: #c1d5ba;
    --success-color: #3d642f;
    --error-bg-color: #d5baba;
    --error-color: #642f2f;

    --colorized-width: 100%;
    --colorized-height: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    color: var(--colorized7);
    font-family: var(--body-font);
    font-weight: 600;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--colorized9);
    transition: all 0.2s ease;
    &:hover {
        color: var(--colorized8);
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

ul:not(class),
ol:not(class) {
    list-style-type: none;
}

.app {
    max-width: 900px;
    margin: 2rem auto;
}

.pt {
    padding-top: 1rem;
}

.pb {
    padding-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mt {
    margin-top: 1rem;
}

.ml {
    margin-left: 1rem;
}

.alert {
    padding: 0.2rem 1rem;
    margin: 1rem 0 0;
    border-radius: 3px;
}
.alert.default {
    background-color: #eee;
}
.alert.warning {
    background-color: #ecd5d5;
}
.alert.danger {
    background-color: #ecdfd5;
}
.alert.success {
    background-color: #d7ecd5;
}
input:-internal-autofill-selected {
    background-color: var(--colorized2) !important;
}
form {
    position: relative;
}
input,
textarea,
select {
    font-family: var(--body-font);
    background: var(--colorized2);
    width: 100%;
    border: 0;
    margin: 0 0 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
}
button {
    font-family: var(--body-font);
    text-transform: uppercase;
    background: var(--colorized9);
    border: 0;
    padding: 15px;
    color: var(--colorized1);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease;
    &:hover {
        background: var(--colorized8);
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    margin-bottom: 2rem;
    tr {
        border-bottom: 1px solid var(--colorized2);
        &:nth-child(2n + 2) {
            background-color: var(--colorized1);
        }
    }
    th:first-child,
    td:first-child {
        padding-left: 16px;
    }
    td,
    th {
        padding: 8px 8px;
        text-align: left;
        vertical-align: middle;
    }
    tfoot {
        tr {
            background-color: var(--colorized8);
        }
    }
    thead {
        background-color: var(--colorized7);
        color: var(--colorized2);
    }
}

.colorized {
    display: flex;
    span {
        width: var(--colorized-width);
        height: var(--colorized-height);
        text-align: center;
        line-height: var(--colorized-height);
        &:nth-child(1) {
            background-color: var(--colorized1);
            color: var(--color-black);
        }
        &:nth-child(2) {
            background-color: var(--colorized2);
            color: var(--color-black);
        }
        &:nth-child(3) {
            background-color: var(--colorized3);
            color: var(--color-black);
        }
        &:nth-child(4) {
            background-color: var(--colorized4);
            color: var(--color-black);
        }
        &:nth-child(5) {
            background-color: var(--colorized5);
            color: var(--color-black);
        }
        &:nth-child(6) {
            background-color: var(--colorized6);
            color: var(--color-white);
        }
        &:nth-child(7) {
            background-color: var(--colorized7);
            color: var(--color-white);
        }
        &:nth-child(8) {
            background-color: var(--colorized8);
            color: var(--color-white);
        }
        &:nth-child(9) {
            background-color: var(--colorized9);
            color: var(--color-white);
        }
    }
}

.crypto__button {
    background-color: var(--colorized9);
    color: var(--colorized1);
    padding: 0.4rem 0.8rem;
    border-radius: 2px;
    font-size: 0.8rem;
    display: inline-flex;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        background-color: var(--colorized8);
        color: var(--colorized1);
    }
}

header {
    padding-bottom: 3rem;
}

footer {
    margin-top: auto;
    background-color: var(--colorized9);
    color: var(--colorized1);
    padding: 2rem;
    text-align: center;
}

.text-right {
    text-align: right;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: .3rem;
}

.crypto-wrap {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 3rem;
}

[data-view='show'] {
    display: inline-flex;
}

[data-view='hide'] {
    display: none;
}

.table__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
        max-width: 350px;
    }
}

input::placeholder,
textarea::placeholder,
select::placeholder,
input[id="crypto-date"] {
    color: var(--colorized6);
}

@media screen and (max-width: 1300px) {
    .container {
        padding: 0 1rem;
    }
    .colorized {
        justify-content: center;
    }
    .colorized span {
        width: 11.1%;
    }
}

@media screen and (max-width: 992px) {
    .crypto-wrap {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 768px) {
    .colorized span {
        width: 20%;
        height: 50px;
    }
}

@media screen and (max-width: 480px) {
    .colorized span {
        width: 33%;
    }
    html {
        font-size: 90%;
    }
}
